soapWSDemoConsumer/src/main/resources/wsdl/defaultWsdl11Definition.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.webservicesoap.org/birthday" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.webservicesoap.org/birthday" targetNamespace="http://www.webservicesoap.org/birthday">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.webservicesoap.org/birthday">

    <xs:element name="getBirthdayRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="day" type="xs:int"/>
                <xs:element name="month" type="xs:int"/>
                <xs:element name="year" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAgeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="age" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBirthdayRequest">
    <wsdl:part element="tns:getBirthdayRequest" name="getBirthdayRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAgeResponse">
    <wsdl:part element="tns:getAgeResponse" name="getAgeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BirthdayServicePort">
    <wsdl:operation name="getBirthday">
      <wsdl:input message="tns:getBirthdayRequest" name="getBirthdayRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAge">
      <wsdl:output message="tns:getAgeResponse" name="getAgeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BirthdayServicePortSoap11" type="tns:BirthdayServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBirthday">
      <soap:operation soapAction=""/>
      <wsdl:input name="getBirthdayRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAge">
      <soap:operation soapAction=""/>
      <wsdl:output name="getAgeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BirthdayServicePortService">
    <wsdl:port binding="tns:BirthdayServicePortSoap11" name="BirthdayServicePortSoap11">
      <soap:address location="http://localhost:9696/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>